#circle {
  position: relative;
  border: 2px solid #000;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

#second-hand, #minute-hand, #hour-hand {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform-origin: bottom;
}


#second-hand {
  width: 1px;
  height: 200px;
  background-color: red;
}

#minute-hand {
  width: 3px;
  height: 200px;
  background-color: gray;
}